header {
  display: flex;
  justify-content: space-between;
}

.home-nav {
  margin: 30px 100px;
  padding: 35px 10px;
  display: flex;
  gap: 30px;
  backdrop-filter: blur(80px);
}

nav a {
  color: white;
}

svg {
  margin: 55px 70px;
}
